/*Importação da fonte Ginto Nord*/
@font-face {
    font-family: ginto;
    src: url(../../../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}
/*corpo*/
body{
    margin: 0%;
    background-color: #F1DEC9;
    font-family: ginto;
}
/*estilizacao article*/
article{
    background-color: transparent;
}
h1{
    text-align: center;
}

#article_aside{
    display: flex;
}
/*card grade*/
#card_grande{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s; 
    width: 60%;
    margin-left: 20%;
    background-color: transparent;
}
#container_grande{
    padding: 2px 16px;
}
/*cards pequenos*/
#cards_menores{
    display: flex;
}
.cards{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s; 
    width: 30%;
    margin: 5%;
    background-color: transparent;
}
.container{
    padding: 2px 16px;
}
/*footer*/

#iframe_footer {
    margin-bottom: -5px;
}
/*estilizacao botao*/
#bottom{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    border-left: 5px solid grey;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;box-shadow: 7px 7px 5px rgb(35, 35, 35);
    height: 800px;
}

.comment{
    background-color: transparent;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    width: 325px;
    margin: 20px;
    font-family: ginto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 180px;

}

.comment_txt{
    height: 50px;
    width: 60%;
    padding: 10px;
}

.comment p{
    font-size: 10px;
}

.title{
    text-align: center;
    font-size: 25px;
}



#image_ani{
    margin: auto;
    animation: mymove 3s infinite;
  }
.buttons {
    align-items: center;
    text-align: center;
}
/*estilizacao botao*/
button {
    border: solid 3px grey;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 250px;
    height: 40px;
    margin: 20px;
}

button:hover {
    background-color: grey;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: #fff ;
}

  
  @keyframes mymove {
    50% {transform: rotate(5deg);}
  }
  