/*Importação da fonte Ginto Nord*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin: 0%;
    padding: 0;
    background-color: #f7f6f6;
}

/*Estilização das tags de texto do site*/
h4, h6, a{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}

main h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

iframe{
    width: 100%;
    height: 100%;
}

.buttons {
    align-items: center;
    text-align: center;
}

button {
    border: solid 3px #8D7B68;
    background-color: #F1DEC9;
    cursor: pointer;
    width: 200px;
    margin: 20px;
    height: 30px;
}

button:hover {
    background-color: #C8B6A6;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: #8D7B68;
}



#top {
    display: flex;
    align-items: center;
}

#top img{
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

#article_aside {
    display: flex;
}

aside {
    background-color: #8D7B68;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    height: 780px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

.coments {
    width: 400px;
    border: #938475 solid 5px;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.coments_content {
    display: flex;
}

.user {
    padding-left: 10px;
    font-style: italic;
}

.posted_byU {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-style: italic;
}

main {
    padding: 20px;
}

p {
    font-family: content;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h1 {
    font-family: title;
    margin-bottom: 50px;
    border: solid 10px #8D7B68;
    background-color: #8D7B68;
    border-radius: 5px;
    margin-top: 0;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

h1:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

h2 {
    font-family: title;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

@font-face {
    font-family: title;
    src: url(../../../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../../../fonts/paragrafo/Lato-Regular.ttf);
}

.text_maincontent {
    padding-left: 15px;
    padding-right: 15px;
    font-family: paragrafo;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.articles_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cards {
    padding: 15px;
    border-radius: 15px;
    border: solid 5px #8D7B68;
    background-color: #A4907C;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.cards:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #938475;
}

.card_texts {
    text-align: left;
}

#break {
    background-color: rgba(141, 123, 104, 0.3);
    height: 15px;
    margin-top: 30px;
}

#footer_ {
    width: 100%;
    height: 41vh;
    margin: -5px;
}

.posted {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#posted_byH {
    width: 20px;
    height: 20px;
    padding-left: 7px;
}

#posted_byH:hover {
    cursor: pointer;
}

#posted_byP {
    width: 20px;
    height: 20px;

}

#italic {
    padding-left: 10px;
    font-style: italic;
    opacity: 0.5;
}

.card_img {
    border: 2px solid #A4907C;
    border-radius: 5px;
    width: 100px;
    height: 66px;
}

.stars {
    font-size: 24px;
    margin-left: 500px;
    display: flex;
    align-items: center;
  }

.star {
    color: #ffe600;
}

#none {
    color: rgb(165, 165, 165);
}

#text_avaliation {
    font-size: 16px;
    padding-right: 5px;
}

.stars_avaliation {
    font-size: 24px;
    color: #ccc;
  }

  .stars_avaliation p {
    color: black;
    font-size: 20px;
  }  

  .stars_avaliation .star_avaliations {
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
  }
  .stars_avaliation .star_avaliations:hover {
    transform: scale(1.1);
    color: #ffe600;
  }
  .stars_avaliation .star_avaliations.selected {
    color: #ffcc00;
  }
  
  .abertura_img {
    width: 300px;
    height: 200px;
  }

.resiliencia_img  {
    width: 300px;
    height: 225px;
  }

.consciencia_img {
    width: 300px;
    height: 200px;
}

.autogestao_img {
    width: 300px;
    height: 170px;
}

.amabilidade_img {
    width: 300px;
    height: 200px;
}

.img_coment {
    width: 50px;
    height: 50px;
}

button {
    border: solid 3px #8D7B68;
    background-color: #F1DEC9;
    cursor: pointer;
    width: 200px;
    margin: 20px;
    height: 30px;
}

button:hover {
    background-color: #C8B6A6;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: #8D7B68;
}

