body{
    margin: 0%;
    background-color: #F1DEC9;
}
h1{
    text-align: center;
}
.cards_vestibular{
    display: flex;
}
.cards{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    width: 30%;
    margin: 5%;
    background-color: white;
}
.container{
    padding: 2px 16px;
}
#article_aside{
    display: flex;
}
aside{
    padding: 5%;
    border: 0%;
    background-color: #A4907C;
}
.patrocinadores{
    display: flex;
    margin: 2%;
}