
/*Importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


@font-face {
    font-family: montserrat;
    src: url(../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}
/*corpo*/

body {
    background-color: #F8F4EA;
    text-align: center;
    margin: 0;
    transition: .4s;
}

/*Importação do header pelo iframe*/
header iframe{
    width: 100%;
    height: 100%;
}
/*Importação do footer pelo iframe*/
footer iframe{
    width: 100%;
    height: 40vh;
}

/*Estilização das tags de texto do site*/
h1, h2, h3, h4, h5, a, li{
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
/*Estilização do tamanho da fonte das tag p*/
p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 100px;
    width: 100px;
}
/*estilizacao do boato*/
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #A4907C;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: solid white;
    width: 150px;
    font-family: montserrat;
    border-radius: 5px;
}
/*estilizacao da section*/
section {
    margin: 100px;
    border: 50px;
    padding: 25px;
    font-family: montserrat;
}
#iframe_footer {
    margin-bottom: -5px;
}