/*estilizção do body*/
body {
    padding: 0; /*preenchimento 0*/
    margin: 0; /*margem 0*/
    background-color: #f7f6f6; /*cor de fundo*/
} 

.buttons {
    align-items: center; /*centralizar itens*/
    text-align: center; /*centralizar texto*/
}

/*estilização do botão*/
button {
    border: solid, 3px, #8D7B68; /*borda solida, 3 px e cor*/
    background-color:#F1DEC9;  /*cor de fundo*/
    cursor: pointer;
    width: 200px;  /*largura 200px*/
    margin: 20px;
    height: 30px;  /*altura 200px*/
}

button:hover {
    background-color: #C8B6A6; /*cor de fundo*/
    transition: 0.2s linear; /*transiçao 0.2 segundos*/
    scale: 1.05;
}

button:active {
    background-color: #8D7B68; /*cor de fundo*/
}

#top {
    display: flex;
}

#article_aside {
    display: flex;
    align-items: center; /*centralizar itens*/
}

/*estilizaçao do aside*/
aside {
    background-color: #8D7B68; /*cor de fundo*/
    margin: 15px; /*margem 15px*/
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    height: 780px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center; /*centralizar itens*/
}

.coments {
    width: 400px; /*largura 400px*/
    border: #938475 solid 5px; /*borda sólida 5 px/
    border-radius: 4px;
    padding: 10px; /*preenchimento 10px*/
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.coments_content {
    display: flex;
}

.user {
    padding-left: 10px;
    font-style: italic; /*estilo da fonte*/
}

.posted_byU {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-style: italic;
}

/*estilizaçao da main*/
main {
    padding: 20px;
}

/*estilizaçao do paragrafo*/
p {
    font-family: content;
    text-align: justify;
}

/*estilizaçao do titulo 1*/
h1 {
    font-family: title;
    margin-bottom: 50px; 
    border: solid 10px #8D7B68;
    background-color: #8D7B68; /*cor de fundo*/
    border-radius: 5px;
    margin-top: 0;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

h1:hover {
    color: white; /*cor do texto*/
    transition: 0.5s ease-in; /*transiçao da cor 0.5 segundos*/
    transition: 0.5s ease-out;
}

/*estilizaçao do titulo 2*/
h2 {
    font-family: title;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;  /*transiçao da cor 0.5 segundos*/
    transition: 0.5s ease-out;
}

/*fonte para titulo*/
@font-face {
    font-family: title;
    src: url(../../../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

/*fonte para paragrafo*/
@font-face {
    font-family: content;
    src: url(../../../fonts/paragrafo/Lato-Regular.ttf);
}

#text_maincontent {
    padding-left: 15px;
    padding-right: 15px;
    font-family: paragrafo;
    font-size: 20px;
}

/*estilizaçao do titulo 3*/
h3 {
    font-family: title;
}

a {
    text-decoration: none;
    color:black;
}

.articles_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cards {
    padding: 15px;
    border-radius: 15px;
    border: solid 5px #8D7B68;
    background-color: #A4907C;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.cards:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #938475;
}

.card_texts {
    text-align: left;
}

#break {
    background-color: rgba(141, 123, 104, 0.3);
    height: 15px;
    margin-top: 30px;
}

#footer_ {
    width: 100%;
    margin: -5px;
}

.posted {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#posted_byH {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

#posted_byH:hover {
    cursor: pointer;
}

#posted_byP {
    width: 20px;
    height: 20px;

}

#italic {
    padding-left: 10px;
    font-style: italic;
    opacity: 0.5;
}

.card_img {
    border: 2px solid #A4907C;
    border-radius: 5px ;
    height: 66px;
    width: 100px;
}

.stars {
    font-size: 24px;
    margin-left: 500px;
    display: flex;
    align-items: center;
  }

.star {
    color: #ffe600;
}

#none {
    color: rgb(165, 165, 165);
}

#text_avaliation {
    font-size: 16px;
    padding-right: 5px;
}

.stars_avaliation {
    font-size: 24px;
    color: #ccc;
  }

  .stars_avaliation p {
    color: black;
    font-size: 20px;
  }  

  .stars_avaliation .star_avaliations {
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
  }

  .stars_avaliation .star_avaliations:hover {
    transform: scale(1.1);
    color: #ffe600;
  }
  .stars_avaliation .star_avaliations.selected {
    color: #ffcc00;
  }

  .imagemprincipal {
    width: 300px;
    height: 209px;
  } 

  .coments_img {
    width: 50px;
    height: 50px;
  }