@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    margin: 0%;
    background-color: #F8F4EA;
    transition: .4s;
}

iframe{
    height: 100%;
    width: 100%;
}

/*Estilização das tags de texto do site*/
h2, h3, h4, h6, a{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;;
}
main h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.image{
    text-align: center;
    border: 2px solid #938475;
    width: fit-content;
    height: 62vh;
    margin-left: 275px;
}

.image img{
    width: 108vh;
    height: 62vh;
}

.list{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #333;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.middle{
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    display: flex;
    border: 2px solid #938475;
    border-left: 5px solid #8D7B68;
    border-radius: 5px;
}

.list{
    margin: 20px;
    width: 40%;
    margin-left: 10%;
}

.txt{
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    margin-top: 100px;
    padding-left: 20px;
    width: 60%;
    margin-right: 20%;
}

.bottom{
    text-align: center;
    display: flex;
    border: 2px solid #938475;
    border-left: 5px solid #8D7B68;
    border-radius: 5px;
    margin: 30px;

}

.img{
    margin-left: 250px;
}

.img img{
    width: 12vh;
    height: 12vh;
}

.title{
    margin-left: 50px;
}

button{
    margin-bottom: 25px;
    margin-left: 575px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid #938475;
}

#footer_{
    width: 100%;
    height: 40vh;
    margin-bottom: -0.5vh;
    margin-top: 100px;
}