/*Importação da fonte Ginto Nord*/
@font-face {
    font-family: ginto;
    src: url(../../../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}

body{
    margin: 0%;
    background-color: #A4907C;
    font-family: ginto;
    transition: .4s;
}

main{
    font-family: ginto;
    color: white;
}

main h1{
    text-align: center;
}

.image{
    text-align: center;
    border: 2px solid #C8B6A6;
    width: fit-content;
    height: 400px;
}

.list{
    text-align: left;
    color: white;
    font-family: ginto;
    margin-left: 30px;
    font-size: 25px;
}

.middle{
    margin: 30px;
    display: flex;
    border: 2px solid #f0f0f0;
    border-left: 5px solid grey;
    border-radius: 5px;
}

.list{
    margin: 20px;
    width: 40%;
    margin-left: 10%;
}

.txt{
    margin: 20px;
    margin-top: 100px;
    padding-left: 20px;
    width: 60%;
    margin-right: 20%;
}

.bottom{
    font-family: ginto;
    text-align: center;
    display: flex;
    border: 2px solid #f0f0f0;
    border-left: 5px solid grey;
    border-radius: 5px;
    margin: 30px;

}

.img{
    margin-left: 250px;
}

.title{
    margin-left: 50px;
}

button{
    margin-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: ginto;
    background-color: transparent;
    border: 2px solid #f0f0f0;
}