* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

/*Importação da fonte Ginto Nord*/
@font-face {
    font-family: ginto;
    src: url(../../../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}


body {
    margin: 0;
    padding: 0;
    background-color: #e1dcd5;
    font-family: ginto;
}


/*Espaço do botão de Dark Mode*/
#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Tamanho do switch do botão*/
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input{
    display: none;
}
/*Espaço do botão*/
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    border-radius: 34px;
    transition: .4s;
}
/*Animação do switch*/
.slider::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
/*Quando o botão estiver "ligado", o fundo vai ficar azul*/
input:checked + .slider {
    background: #5865f2;
}
/*Animação do botão quando for "ligado"*/
input:checked +.slider::before{
    transform: translateX(26px);
}
/*Classe dark mode do site*/
.dark-mode{
    background: #23272a;
}
/*Estilizazação da tag de texto h1*/
.dark-mode h1{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h2*/
.dark-mode h2{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h3*/
.dark-mode h3{
    color: #5865f2;
    transition: .4s;
}
/*Estilizazação da tag de texto h4*/
.dark-mode h4{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h5*/
.dark-mode h5{
    color: #5865f2;
    transition: .4s;
}
/*Estilizazação da tag de texto p*/
.dark-mode p{
    color: #fff;
    transition: .4s;
}

.dark-mode ul li{
    color: #fff;
    transition: .4s;
}

iframe {
    width: 100%;
    height: 100%;
}
#footer_ {
    height: 200px;
    margin-bottom: -5px;
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: title;
    border: solid 2px #f0f0f0;
    background-color: transparent;
    color: white;
    border-width: 5px;
}

main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

article {
    padding-top: 40px;

}

a {
    border: solid 2px #f0f0f0;
    padding: 5px;
    margin: 30px;
    height: 100px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    display: flex;
    width: 33%;
    text-decoration: none;
}

a:hover {
    scale: 1.05;
    transition: 0.5s;
    transition: 0.5s ease-in-out;
}

h2 {
    text-transform: uppercase;
    font-family: title;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: paragrafo;
    font-size: 15px;
}

i {
    font-size: 20px;
    margin: 10px;
}

.icon {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: #f0f0f0 2px solid;
    border-left: 10px grey solid;
    border-top: 1px grey solid ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 60px;
    width: 750px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
}

.title_card {
    margin-top: 60px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.content_main {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.card {
    width: 200px;
    margin: 20px;
}

.card1 {
    display: flex;
}

#article_aside {
    display: flex;
}

aside {
    background-color: transparent;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 490px;
}

.coments {
    width: 350px;
    border: #f0f0f0 solid 5px;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.coments_content {
    display: flex;
}

.user {
    padding-left: 10px;
    font-style: italic;
}

.stars {
    font-size: 16px;
    margin-left: 10px;
  }

.star {
    color: #ffe600;
}

.posted_byU {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-style: italic;
}

