body{
    margin: 0%;
    padding: 0;
    background-color: #f7f6f6;
}

.buttons {
    align-items: center;
    text-align: center;
}

button {
    border: solid 3px #8D7B68;
    background-color: #F1DEC9;
    cursor: pointer;
    width: 200px;
    margin: 20px;
}

button:hover {
    background-color: #C8B6A6;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: #8D7B68 ;
}



#top {
    display: flex;
}

#article_aside {
    display: flex;
}

aside {
    background-color: #8D7B68;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
}

.patrocinadores {
    width: 400px;
}

main {
    padding: 20px;
}

p {
    font-family: content;
    text-align: justify;
}

h1 {
    font-family: title;
    margin-bottom: 50px;
    border: solid 10px #8D7B68;
    background-color: #8D7B68;
    border-radius: 5px;
    margin-top: 0;
}

h1:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

h2 {
    font-family: title;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

@font-face {
    font-family: title;
    src: url(../../../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../../../fonts/paragrafo/Lato-Regular.ttf);
}

#text_maincontent {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.articles_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cards {
    padding: 5px;
    border-radius: 15px;
    border:solid 5px  #8D7B68 ;
    background-color: #A4907C;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
box-shadow: 7px 8px 10px -2px rgba(0,0,0,0.75);
}

.cards:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color:#938475;
}

#break {
    background-color: rgba(141, 123, 104, 0.3);
    height: 15px;
    margin-top: 30px;
}

#footer_ {
    width: 100%;
    margin: -5px;
}

.posted {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#posted_byH {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

#posted_byP {
    width: 20px;
    height: 20px;

}

#italic {
    padding-left: 10px;
    font-style: italic;
    opacity: 0.5;
}

