body{
    margin: 0%;
    padding: 0;
    background-color: #F1DEC9;
}

.buttons {
    align-items: center;
    text-align: center;
}

button {
    border: solid 3px #8D7B68;
    background-color: #F1DEC9;
    cursor: pointer;
    width: 200px;
    margin: 20px;
}

button:hover {
    background-color: #C8B6A6;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: #8D7B68 ;
}



#top {
    display: flex;
}

#article_aside {
    display: flex;
}

aside {
    background-color: #8D7B68;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
}

.patrocinadores {
    width: 400px;
}

main {
    padding: 20px;
}

p {
    font-family: content;
    text-align: justify;
}

h1 {
    font-family: title;
    margin-bottom: 50px;
    border: solid 10px #8D7B68;
    background-color: #8D7B68;
    border-radius: 5px;
}

h1:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

h2 {
    font-family: title;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

@font-face {
    font-family: title;
    src: url(../../../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../../../fonts/paragrafo/Lato-Regular.ttf);
}

#text_maincontent {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}