/*Importação da fonte Ginto Nord*/
@font-face {
    font-family: ginto;
    src: url(../../../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}

body {
    width: 100%;
    margin: 0%;
    padding: 0;
    background-color: #f7f6f6;
    font-family: ginto;
}

/*Espaço do botão de Dark Mode*/
#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Tamanho do switch do botão*/
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input{
    display: none;
}
/*Espaço do botão*/
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    border-radius: 34px;
    transition: .4s;
}
/*Animação do switch*/
.slider::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
/*Quando o botão estiver "ligado", o fundo vai ficar azul*/
input:checked + .slider {
    background: #5865f2;
}
/*Animação do botão quando for "ligado"*/
input:checked +.slider::before{
    transform: translateX(26px);
}
/*Classe dark mode do site*/
.dark-mode{
    background: #23272a;
}
/*Estilizazação da tag de texto h1*/
.dark-mode h1{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h2*/
.dark-mode h2{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h3*/
.dark-mode h3{
    color: #5865f2;
    transition: .4s;
}
/*Estilizazação da tag de texto h4*/
.dark-mode h4{
    color: #fff;
    transition: .4s;
}
/*Estilizazação da tag de texto h5*/
.dark-mode h5{
    color: #5865f2;
    transition: .4s;
}
/*Estilizazação da tag de texto p*/
.dark-mode p{
    color: #fff;
    transition: .4s;
}

.dark-mode ul li{
    color: #fff;
    transition: .4s;
}

.buttons {
    align-items: center;
    text-align: center;
}

button {
    font-family: ginto;
    border: solid 3px #f0f0f0;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    margin: 20px;
    height: 30px;
}

button:hover {
    background-color: #fff;
    transition: 0.2s linear;
    scale: 1.05;
}

button:active {
    background-color: grey;
}



#top {
    display: flex;
    align-items: center;
}

#article_aside {
    display: flex;
}

aside {
    font-family: ginto;
    width: 40%;
    background-color: transparent;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    height: 1050px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

.coments {
    font-family: ginto;
    width: 250px;
    border: #f0f0f0 solid 5px;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.coments_content {
    display: flex;
}

.user {
    padding-left: 10px;
    font-style: italic;
}

.posted_byU {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-style: italic;
    width: 30px;
}

main {
    width: 70%;
    font-family: ginto;
    padding: 20px;
}

p {
    font-size: 15px;
    font-family: ginto;
    text-align: justify;
}

h1 {
    font-family: ginto;
    margin-bottom: 50px;
    border: solid 10px #f0f0f0;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 0;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

h1:hover {
    color: grey;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

h2 {
    font-family: title;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

.text_maincontent {
    padding-left: 15px;
    padding-right: 15px;
    font-family: ginto;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.articles_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cards {
    padding: 15px;
    border-radius: 15px;
    border: solid 5px #f0f0f0;
    background-color: transparent;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.cards:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: grey;
}

.card_texts {
    text-align: left;
}

#break {
    background-color: transparent;
    height: 15px;
    margin-top: 30px;
}

#footer_ {
    width: 100%;
    margin: -5px;
}

.posted {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#posted_byH {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

#posted_byH:hover {
    cursor: pointer;
}

#posted_byP {
    width: 20px;
    height: 20px;

}

#italic {
    padding-left: 10px;
    font-style: italic;
    opacity: 0.5;
}

.card_img {
    border: 2px solid #f0f0f0;
    border-radius: 5px ;
}

.stars {
    font-size: 24px;
    margin-left: 500px;
    display: flex;
    align-items: center;
  }

.star {
    color: #ffe600;
}

#none {
    color: rgb(165, 165, 165);
}

#text_avaliation {
    font-size: 16px;
    padding-right: 5px;
}

.stars_avaliation {
    font-size: 24px;
    color: #ccc;
  }

  .stars_avaliation p {
    color: black;
    font-size: 20px;
  }  

  .stars_avaliation .star_avaliations {
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
  }
  .stars_avaliation .star_avaliations:hover {
    transform: scale(1.1);
    color: #ffe600;
  }
  .stars_avaliation .star_avaliations.selected {
    color: #ffcc00;
  }
  