@font-face {
    font-family: ginto;
    src: url(../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}

body{
    margin: 0%;
    font-family:'Ginto Nord', sans-serif;
    background-color: #fff;
}

main h1{
    text-align: center;
    margin: 50px;
}

#top h2, h3{
    text-align: left;
}

h1, h2, h3, h4, p, a{
    font-family: ginto;
    color: #333;
    text-decoration: none;
}

.blue{
    color: #5865f2;
}

main{
    font-size: 30px;
}

#top{
    background-color: #fff;
 }

.banner{
    margin: 20px;
    text-align: center;
}

.banner img{
    border-radius: 5px;
}

.display{
    display: flex;
    background-color: #f0f0f0;
}

.card_top{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.card_top img{
    margin-left: 40px;
    border-radius: 5px;
}

.card_top h5{
    font-family: ginto;
    color: #333;
}

.card_top h5:hover{
    color: #5865f2;
    text-decoration: underline;
    cursor: pointer;
}

.card_middle{
    margin: 20px;
    margin-top: 50px;
    width: 33%;
}

.card_middle img{
    border-radius: 5px;
}

.card_middle h5{
    font-family: ginto;
    color: #333;
}

.card_middle h5:hover{
    color: #5865f2;
    text-decoration: underline;
    cursor: pointer;
}

