img {
    text-align: center;
}

body {
    background-color: #C8B6A6;
    text-align: center;
    padding: 164px;
}

button {
    background-color: #C8B6A6;
    font-size: 18px;
    border: solid black;
}