body{
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1, h2, h3, h4, p, a, li{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#top{
    display: flex;
    background-color: #635985;
    border: 2px solid #443C68;
}

#top h1{
    font-size: 50px;
    width: 70%;
    margin-left: 20px;
}

#top li{
    font-size: 25px;
}

#top img{
    margin-right: 150px;
    margin-top: 100px;
    background-color: #393053;
    border: 2px solid #443C68;
    border-left:5px solid #18122B;
    border-radius: 5px;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
}

.plano_1{
    margin-top: 10px;
    margin-left: 150px;
    background-color: #18122B;
    border: 2px solid #443C68;
    border-left:5px solid #18122B;
    border-radius: 5px;
    width: 30%;
    height: 400px;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
}

.plano_1 input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 55px;
    margin-top: 85px;
    background-color: #635985;
    border: 2px solid #443C68;
    border-radius: 25px;
    color: white;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
}

.plano_1 input:hover{
    background-color: #18122B;
    border: 2px solid #635985;
    border-radius: 25px;
    color: white;
}

.plano_2{
    margin-top: 10px;
    margin-left: 150px;
    background-color: #18122B;
    border: 2px solid #443C68;
    border-left:5px solid #18122B;
    border-radius: 5px;
    width: 30%;
    height: 400px;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
}

.plano_2 input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 55px;
    margin-top: 50px;
    background-color: #635985;
    border: 2px solid #443C68;
    border-radius: 25px;
    color: white;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
}

.plano_2 input:hover{
    background-color: #18122B;
    border: 2px solid #635985;
    border-radius: 25px;
    color: white;
}


#middle{
    display: flex;
    background-color: #393053;
    border: 2px solid #443C68;

}