body {
    background-color: #8D7B68;
    text-align: center;
}
img {
    height: 100px;
    width: 100px;
}
button {
    width: 150px;
}
section {
    margin: 100px;
    border: 50px;
    padding: 25px;
}
