body{
    background-color: #A4907C;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1, h2, h3, h4, p, a, li{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

main h1{
    text-align: center;
    padding: 20px;
}

.decoration{
    display: flex;
}

.personal{
    display: flex;
    border: 2px solid #C8B6A6;
    border-radius: 5px;
    margin: 20px;
    padding-bottom: 20px;
    
}

.personal input{
    width: 45%;
}
.cadastro{
    padding-top: 20px;
    height: 700px;
    text-align: center;
    background-color: #8D7B68;
}

input{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#flag{
    font-size: 15px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button{
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #C8B6A6;
    border: 2px solid #A4907C;
    color: white;
}

.button:hover{
    background-color: #8D7B68;
    border: 2px solid #C8B6A6;
    color: white;
}

.cartao{
    width: 60%;
    text-align: center;
}

.img_card{
    border: 2px solid #C8B6A6;
    border-radius: 5px;
    margin: 30px;
    padding: 50px;
    height: 225px;
}

#image_ani{
    margin: auto;
    animation: mymove 3s infinite;
  }
  
  @keyframes mymove {
    50% {transform: rotate(5deg);}
  }
  


