/*Importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0%;
    background-color: #F8F4EA;
    transition: .4s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Importação do header pelo iframe*/
#menu{
    width: 100%;
    height: 15v;
}
/*Importação do footer pelo iframe*/
#footer_{
    width: 100%;
    height: 40vh;
    margin-bottom: -2.2vh;
}

/*Alinhamento, centralização e margem da tag h1 da main*/
main h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 7.4vh;
    font-size: 7.4vh;
    border-bottom: rgba(51, 51, 51, 0.7) solid 0.7vh;
}
/*Estilização das tags de texto, da parte superior do site*/
#top h2, h3{
    text-align: left;
    margin-left: 7.4vh;
    font-family: 'Montserrat', sans-serif;
}
/*Estilização das tags de texto do site*/
h4, h6, a{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 7.4vh;
}

main h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/*Classe para colocar cor nas tags de texto*/
.blue{
    color: #579BB1;
    font-family: 'Montserrat', sans-serif;
}
/*Cor de fundo transparente da parte superior do site*/
#top{
    background-color: transparent;
 }
/*Estilização da parte do banner do site*/
.banner{
    margin: 3vh;
    text-align: center;
}
/*Borda, e efeito de sombra no banner inicial do site*/
.banner img{
    width: 154vh;
    height: 77vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização de um article, section e de div*/
.display{
    display: flex;
    background-color: transparent;
    margin-left: 4.5vh;
    margin-right: 4.5vh;
}
/*Cards de noticía da parte superior do site*/
.card_top{
    margin-top: 3vh;
    margin-left: 7.4vh;
    margin-right: 7.4vh;
    width: 50%;
}
/*Estilização da imagem dos cards do topo do site*/
.card_top img{
    width: 62vh;
    height: 31vh;
    margin-left: 6vh;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização do texto dos cards do topo do site*/
.card_top h2{
    margin-left: 6vh;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
/*Estilização do texto com animação*/
.card_top h2:hover{
    color: #579BB1;
    text-decoration: underline;
    cursor: pointer;
    transition: .4s;
}
/*Cards de noticía do meio do site*/
.card_middle{
    margin: 3vh;
    margin-top: 7.4vh;
    width: 33%;
}
/*Estilização da imagem dos cards do meio do site*/
.card_middle img{
    width: 54vh;
    height: 31vh;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização do texto dos cards do meio do site*/
.card_middle h2{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
/*Estilização do texto com animação*/
.card_middle h2:hover{
    color: #579BB1;
    text-decoration: underline;
    cursor: pointer;
    transition: .4s;
}
/*Estilização com diplay flex*/
#aside_art{
    display: flex;
}


/*Estilização do anúncio*/
#ad{
    margin-top: 7.4vh;
    margin-bottom: 7.4vh;
}
/*Tamanho das imagens das propagandas*/
#ad img{
    width: 100%;
    height: 20vh;
}


/*Propagandas*/

#ads{
    margin-left: 22.4vh;
}
/*Propaganda de South Park*/
#banners #sp{
    margin: 1.5vh;
    width: 46vh;
    height: 31vh;
    padding: 1.5vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Propaganda da Kuat*/
#banners #kuat{
    margin: 1.5vh;
    width: 46vh;
    height: 31vh;
    padding: 1.5vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Propaganda do ifood*/
#banners #ifood{
    margin: 1.5vh;
    width: 46vh;
    height: 31vh;
    padding: 1.5vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

-- 
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height: 30vh;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 30vh;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding: 2.24vh;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
  color: #333;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none;
  font-weight:600;
  text-transform: uppercase
}

.card-read-more a:hover {
    background-color: rgba(51, 51, 51, 0.3);
    border-radius: 15px;
    transition: 0.5s;
}

/*Media*/

@media (max-width: 600px) {
  body{
    margin: 0%;
    padding: 0%;
  }

/*Importação do footer pelo iframe*/
#footer_{
  width: 1550px;
  height: 40vh;
  margin-bottom: -2.2vh;
}

/*Alinhamento, centralização e margem da tag h1 da main*/
main h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 75px;
  width: 500px;
  margin-left: 550px;
  border-bottom: rgba(51, 51, 51, 0.7) solid 0.7vh;
}
/*Estilização das tags de texto, da parte superior do site*/
#top h2, h3{
  text-align: center;
  margin-left: 55px;
  margin-left: 250px;
  width: 1000px;
  font-family: 'Montserrat', sans-serif;
}
/*Estilização das tags de texto do site*/
h4, h6, a{
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  width: 1000px;
}

main h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 1000px;
  margin-left: 300px;
}
/*Classe para colocar cor nas tags de texto*/
.blue{
  color: #579BB1;
  font-family: 'Montserrat', sans-serif;
}
/*Cor de fundo transparente da parte superior do site*/
#top{
  background-color: transparent;
}
/*Estilização da parte do banner do site*/
.banner{
  margin: 10px;
  text-align: center;
}
/*Borda, e efeito de sombra no banner inicial do site*/
.banner img{
  width:1050px;
  height: 550px;
  margin-left: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização de um article, section e de div*/
.display{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-left: 4.5vh;
  margin-right: 4.5vh;
}
/*Cards de noticía da parte superior do site*/
.card_top{
  margin-left: 200px;
  margin-right: 7.4vh;
  margin-top: 150px;
  margin-bottom: -150px;
}
/*Estilização da imagem dos cards do topo do site*/
.card_top img{
  width: 750px;
  height: 450px;
  margin-left: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização do texto dos cards do topo do site*/
.card_top h2{
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  width: 1000px;
}
/*Estilização do texto com animação*/
.card_top h2:hover{
  color: #579BB1;
  text-decoration: underline;
  cursor: pointer;
  transition: .4s;
}
/*Cards de noticía do meio do site*/
.card_middle{
  margin-right: 450px;
  margin-left: 175px;
  margin-top: 350px;
  margin-bottom: 200px;
  width: 750px;
  height: 450px;

}
/*Estilização da imagem dos cards do meio do site*/
.card_middle img{
  width: 750px;
  height: 450px;
  margin-top: 200px ;
  margin-left: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Estilização do texto dos cards do meio do site*/
.card_middle h2{
  font-family: 'Montserrat', sans-serif;
  color: #333;
  width: 1000px;
  margin-left: 50px;
}
/*Estilização do texto com animação*/
.card_middle h2:hover{
  color: #579BB1;
  text-decoration: underline;
  cursor: pointer;
  transition: .4s;
}
/*Estilização com diplay flex*/
#aside_art{
  display: flex;
  flex-direction: column;
}


/*Estilização do anúncio*/
#ad{
  margin-top: 750px;
  margin-bottom: 15px;
}
/*Tamanho das imagens das propagandas*/
#ad img{
  width: 1550px;
  height: 20vh;
}


/*Propagandas*/

#ads{
  margin-left: 150px;
}
/*Propaganda de South Park*/
#banners #sp{
  margin: 15px;
  margin-left: 250px;
  width: 700px;
  height: 400px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Propaganda da Kuat*/
#banners #kuat{
  margin: 15px;
  width: 700px;
  height: 400px;
  padding: 15px;
  margin-left: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Propaganda do ifood*/
#banners #ifood{
  margin: 15px;
  width: 700px;
  height: 400px;
  padding: 15px;
  margin-left: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.banner h3{
  margin-left: 300px;
}

}