<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" type="text/css" href="style.footer.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logoblog.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--engloba tudo em uma div-->
    <div class="all">
        <!--engloba como footer-->
        <div class="footer_">
            <img src="../assets/images/logoblog.png" width="64px" height="64px">
            <div>
                <h1>BLOG</h1>
                <p>Notícias do mundo empresarial</p>
            </div>
            <!--para estilizar, coloca os dois elementos em uma div-->
            <div class="copyright">
                <h2>todos os direitos reservados!</h2>
                <p>(19)999989-8675</p>
            </div>
        </div>
        <!--div coloca tudo como os ícones de rede-->
        <div class="icons">
            <ul>
                <li>
                    <!--link de direcionamento-->
                    <a href="https://www.google.com.br">
                        <!--ícone-->
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com.br">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com.br">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com.br">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com.br">
                        <i class="fa-regular fa-gem"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>