<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="style.header.css">
    <link rel="icon" type="image/x-icon" href="../assets/">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="../assets/">TOP</a></div>
            <ul class="links">
                <li><a href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">categories</a></li>
                <li><a href="#">feedback</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <a href="#" class="action_btn">get started</a>
    </nav>
    </div>
</body>

</html>