* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilização do menu e da barra de navegação */
.box_menu .bar_menu {
    overflow: hidden;
    background-color: #7d6e5d;
    left: -280px;
    transition: all 0.3s linear;
    display: flex;
    margin: 0;
    z-index: -999;
}
/* estilização do título do menu */
.box_menu .bar_title {
    height: 60px;
    width: 100%;
    font-family: title;
    text-align: center;
}

.box_menu .bar_title a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    left: 20px;
    line-height: 60px;
}
/* estilização da navegação */
.bar_menu .menu {
    display: flex;
}

.bar_menu .menu ul {
    display: flex;
}

.bar_menu .menu li {
    margin: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: content;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.bar_menu .menu li:hover {
    background-color: #C8B6A6;
    scale: 1.05;
}

.bar_menu .menu i {
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}

.bar_menu .menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}


/* estilização do get started */
.menu .vip_li {
    background-color: #F1DEC9;
    color: #8D7B68;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    content: none;
}

.menu .vip_li:hover {
    background-color: #8D7B68;
    scale: 1.05;
    color: #fff;
    content: none;
}

/* fonte */
@font-face {
    font-family: title;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}