* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilização do menu e da barra de navegação */
.bar_menu {
    overflow: hidden;
    background-color: #2c2a29;
    transition: all 0.3s linear;
    display: flex;
    margin: 0;
    height: 100px;
}
/* estilização do título do menu */
.box_menu .bar_title {
    height: 60px;
    font-family: title;
    text-align: center;
}

.box_menu .bar_title a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 60px;
}
/* estilização da navegação */
.bar_menu .menu {
    display: flex;
    width: 100%;
}

.bar_menu .menu ul {
    display: flex;
    align-items: center;
}

.bar_menu .menu li {
    margin-right: 6px;
    padding: 12px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: content;
    display: flex;
    width: 200px;
    justify-content: center;
}

.bar_menu .menu li:hover {
    background-color: #C8B6A6;
    scale: 1.05;
    border-radius: 10px;
}

.bar_menu .menu i {
    color: #fff;
    font-size: 14px;
    padding: 4px;
}

.bar_menu .menu a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}


/* estilização do get started */
.menu .vip_li {
    background-color: #F1DEC9;
    color: #8D7B68;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    content: none;
}

.menu .vip_li:hover {
    background-color: #8D7B68;
    scale: 1.05;
    color: #fff;
    content: none;
}

#vip {
    margin-right: 30px;
}

/* fonte */
@font-face {
    font-family: title;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}


/*Media*/

@media (max-width: 600px) {
    /* estilização do menu e da barra de navegação */
.bar_menu {
    overflow: hidden;
    background-color: #2c2a29;
    transition: all 0.3s linear;
    display: flex;
    height: 175px;
    width: 100%;
}
/* estilização do título do menu */
.box_menu .bar_title {
    height: 60px;
    font-family: title;
    text-align: center;
}

.box_menu .bar_title a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    line-height: 60px;
}
/* estilização da navegação */
.bar_menu .menu {
    display: flex;
    width: 100%;
}

.bar_menu .menu ul {
    display: flex;
    align-items: center;
}

.bar_menu .menu li {
    margin-right: 6px;
    padding: 12px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: content;
    display: flex;
    width: 60px;
    justify-content: center;
}

.bar_menu .menu li:hover {
    background-color: #C8B6A6;
    scale: 1.05;
    border-radius: 10px;
}

.bar_menu .menu i {
    color: #fff;
    font-size: 10px;
    padding: 5px;
}

.bar_menu .menu a {
    color: #fff;
    font-size: 10px;
    width: 65px;
    margin: 5px;
    margin-right: 15px;
    text-decoration: none;
}


/* estilização do get started */
.menu .vip_li {
    background-color: #F1DEC9;
    color: #8D7B68;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    content: none;
}

.menu .vip_li:hover {
    background-color: #8D7B68;
    scale: 1.05;
    color: #fff;
    content: none;
}

#vip {
    margin-right: 50px;
}
}

#button_extra{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#contato{
    margin-top: 65px;
}