* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fontes */
@font-face {
    font-family: title;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}
/* estilização do corpo da footer */
body {
    background-color: #8D7B68;
    color:white;
    font-family: title;
}

/* estilização da div footer */
.footer_ {
    display: flex;
    justify-content: space-between;
}
/* estilização dos ícones */
.icons ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    text-transform: uppercase;
}
/* estilização da div */
.copyright {
    margin-left: 450px;
}
/* estilização do all */
.all {
    vertical-align:middle;
}