* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fontes */
@font-face {
    font-family: title;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: content;
    src: url(../assets/fonts/titulo/Montserrat-VariableFont_wght.ttf);
}
/* estilização do corpo da footer */
body {
    background-color: #8D7B68;
    color:white;
    font-family: title;
}

/* estilização da div footer */
.footer_ {
    display: flex;
}

#content_1 {
    margin-right: 30vh;
}

/* estilização dos ícones */
.icons ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
    margin-top: 15px;
}

li {
    padding-left: 2vh;
    display: flex;
    align-items: center;
    width: 15rem;
    cursor: pointer;
}

/* espaçamento ao passar o mouse em cima */
li:hover {
    padding-left: 3rem;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    width: 5rem;
}

/* Efeito para barra em baixo do link */
a::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

a:hover::after {
    width: 15%;
}

h2 {
    text-transform: uppercase;
    margin: 10px;
}

h3 {
    text-transform: uppercase;
}

i {
    margin: 1vh;
}

/* estilização da div */
.copyright {
    margin-left: 45rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* estilização do all */
.all {
    vertical-align:middle;
}

#logo_icon {
    width: 80px;
    height: 80px;
    margin: 10px;
}

