body{
    background-color: #A4907C;
    margin: 0%;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/titulo/Montserrat-VariableFont_wght.ttf);
}

h1, h2, h4, p, a, li{
    color: white;
    text-decoration: none;
    font-family: montserrat;
}

main{
    text-align: center;
}

.button{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #C8B6A6;
    border: 2px solid #A4907C;
    color: white;
    box-shadow: 7px 7px 5px rgb(35, 35, 35);
    font-family: montserrat;
}

.button:hover{
    background-color: #8D7B68;
    border: 2px solid #C8B6A6;
    color: white;
}