body{
    margin: 0%;
    background-color: #F8F4EA;
}

header iframe{
    width: 100%;
    height: 100%;
}

footer iframe{
    width: 100%;
    height: 40vh;
}
/*Importação da fonte de título*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*Estilização das tags de texto do site*/
h1, h2, h3, h4, a, li{
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

p{
    font-family: 'Montserrat', sans-serif;;
}
/*Alinhamento, centralização e margem da tag h1 da main*/
main h1{
    text-align: center;
    padding: 20px;
}
/*Estilização para separar duas sections*/
.decoration{
    display: flex;
}
/*Partes de informações pessoais no cadastro da extra*/
.personal{
    display: flex;
    border: 2px solid #938475;
    border-radius: 5px;
    margin: 20px;
    padding-bottom: 20px;
    
}
/*Estilização das caixas de texto e seleção do cadastro*/
.personal input{
    width: 45%;
}
/*Estruturação, tamanhos e cor de fundo dos cadastros*/
.cadastro{
    padding-top: 20px;
    height: 125vh;
    text-align: center;
    background-color: transparent;

}
/*Edição das caixas de texto e seleção do cadastro*/
input{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
/*Estilização da caixa de seleção das bandeiras de cartões*/
#flag{
    font-size: 15px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*Estilização do botão*/
.button{
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #938475;

}
/*Animação no botão do cadastro*/
.button:hover{
    background-color: #8D7B68;
    border: 2px solid #938475;
}
/*Partes de informações do cartão no cadastro da extra*/
.cartao{
    width: 60%;
    text-align: center;
}
/*Estilização da imagem do cartão*/
.img_card{
    width: 30%;
    height: 35vh;
    border: 2px solid #938475;
    border-radius: 5px;
    margin: 30px;
    padding: 50px;
    height: 225px;
}
/* Id para animação de rotação de imagem*/
#image_ani{
    width: 39vh;
    height: 35vh;
    margin: auto;
    animation: mymove 3s infinite;
  }
  /*Animação de rotação da imagem com keyframe */
  @keyframes mymove {
    50% {transform: rotate(5deg);}
  }
  


