body{
    margin: 0%;
    font-family: ginto;
    background-color: #fff;
}

@font-face {
    font-family: ginto;
    src: url(../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}

h1, h2, h3, h4, p, a, li{
    color: #333;
    text-decoration: none;
    font-family: ginto;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input{
    display: none;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    border-radius: 34px;
    transition: .4s;
}

.slider::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background: #5865f2;
}

input:checked +.slider::before{
    transform: translateX(26px);
}

.dark-mode{
    background: #23272a;
}

.dark-mode-main{
    background: #2c2f33;
}

.dark-mode h1{
    color: #fff;
    transition: .4s;
}

.dark-mode h2{
    color: #fff;
    transition: .4s;
}

.dark-mode h3{
    color: #5865f2;
    transition: .4s;
}

.dark-mode h4{
    color: #fff;
    transition: .4s;
}

main h1{
    text-align: center;
    padding: 20px;
}

.decoration{
    display: flex;
}

.personal{
    display: flex;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    margin: 20px;
    padding-bottom: 20px;
    
}

.personal input{
    width: 45%;
}
.cadastro{
    padding-top: 20px;
    height: 700px;
    text-align: center;
    background-color: transparent;

}

input{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#flag{
    font-size: 15px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button{
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #f0f0f0;

}

.button:hover{
    background-color: grey;
    border: 2px solid #fff;
}

.cartao{
    width: 60%;
    text-align: center;
}

.img_card{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    margin: 30px;
    padding: 50px;
    height: 225px;
}

#image_ani{
    margin: auto;
    animation: mymove 3s infinite;
  }
  
  @keyframes mymove {
    50% {transform: rotate(5deg);}
  }
  


