body {
    margin: 0%;
    padding: 0;
    background-color: #f7f6f6;
}
.posted{
    display: flex;
    font-size: 14px;
    align-items: center;
}
.stars{
    font-size: 24px;
    margin-left: 500px;
    display: flex;
    align-items: center;
}