
/*Importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/**corpo**/

body {
    margin: 0%;
    padding: 0;
    background-color: #f7f6f6;
}

/*Importação do header pelo iframe*/
header iframe{
    width: 100%;
    height: 100%;
}
/*Importação do footer pelo iframe*/
footer iframe{
    width: 100%;
    height: 40vh;
}

main{
    padding: 20px;
}

#top img{
    width: 46vh;
    height: 31vh;
}

#article_aside{
    display: flex;
}

h3, h4, h6, a{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}
.posted{
    display: flex;
    font-size: 14px;
    align-items: center;
}
#posted_byH {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

#posted_byH:hover {
    cursor: pointer;
}
#posted_byP {
    width: 20px;
    height: 20px;
}
.stars{
    font-size: 24px;
    margin-left: 500px;
    display: flex;
    align-items: center;
}
.star{
    color: #ffe600;
}
#none{
    color: rgb(165, 165, 165);
}
/**conteudo**/
h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    border: solid 10px #8D7B68;
    background-color: #8D7B68;
    border-radius: 5px;
    margin-top: 0;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}
h1:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h2:hover {
    color: white;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.text_maincontent{
    padding-left: 15px;
    padding-right: 15px;
    font-family: paragrafo;
    font-size: 20px;
}
/**botões navegação**/
button {
    border: solid 3px #8D7B68;
    background-color: #F1DEC9;
    cursor: pointer;
    width: 200px;
    margin: 20px;
    height: 30px;
}
.buttons {
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
/**avaliação**/
.stars_avaliation {
    font-size: 24px;
    color: #ccc;
  }

  .stars_avaliation p {
    color: black;
    font-size: 20px;
  }  

  .stars_avaliation .star_avaliations {
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
  }
  .stars_avaliation .star_avaliations:hover {
    transform: scale(1.1);
    color: #ffe600;
  }
  .stars_avaliation .star_avaliations.selected {
    color: #ffcc00;
  }
  /**comentarios**/
  aside {
    background-color: #8D7B68;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    height: 780px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

.coments {
    width: 400px;
    border: #938475 solid 5px;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.coments_content {
    display: flex;
}

.coments_content img{
    width: 8vh;
    height: 8vh;
}

.user {
    padding-left: 10px;
    font-style: italic;
}
.posted_byU {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-style: italic;
}
.articles_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cards {
    padding: 15px;
    border-radius: 15px;
    border: solid 5px #8D7B68;
    background-color: #A4907C;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    -webkit-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 10px -2px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.cards:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #938475;
}

.card_texts {
    text-align: left;
}

#break {
    background-color: rgba(141, 123, 104, 0.3);
    height: 2vh;
    margin-top: 30px;
}

/**footer**/
#footer_ {
    width: 100%;
    margin: -5px;
}


/**avaliação**/
#text_avaliation {
    font-size: 16px;
    padding-right: 5px;
}