img {
    text-align: center;
    padding-top: 45px;
}


body {
    background-color: #C8B6A6;
    margin: 0%;
}

button {
    background-color: black;
    font-size: 21px;
    border: solid black;
    color: white;
}

h1 {
    font-size: 24px;
}

#iframe_footer {
    position: fixed;
    bottom: 0;
}

div {
    justify-content: center;
    display: flex;
}

article  {
    text-align: center;
}