/*Importação da fonte Ginto Nord*/
@font-face {
    font-family: ginto;
    src: url(../../fonts/titulo/ABCGintoNord-Medium-Trial.otf);
}

body {
    font-family: ginto;
    transition: .4s;
    margin: 0;
    background-color: rgb(200, 182, 166);
}

.quemsomos {
    text-align: center;
}
html {
    box-sizing: border-box;
}

/*tirando decoração de um link*/
a{
    text-decoration: none;
    color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33%;
    float: left;
    padding: 0 8px;
}

/*personalização dos cards*/
.card {
    margin: 8px;
    border: 2px solid #f0f0f0;
    border-left: 5px solid grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sobrenos {
    padding: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
}
